.kaufman {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: #f2f2f2;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
}
